# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

compiled.cpython*

__pycache__/
/examples/indexes/

/build/
/cmake-build-debug/
/cmake-build-release/
/cmake-build*/
/.idea/
/faiss/
/dummy/
/Testing/
/bin/
/_deps/
CMakeFiles
pdxearch.egg-info
/dist/

/benchmarks/datasets/adsampling_nary
/benchmarks/datasets/adsampling_dsm
/benchmarks/datasets/adsampling_pdx
/benchmarks/datasets/bsa_nary
/benchmarks/datasets/bsa_pdx
/benchmarks/datasets/downloaded
/benchmarks/datasets/nary
/benchmarks/datasets/pdx
/benchmarks/datasets/purescan
/benchmarks/datasets/queries
/benchmarks/datasets/bond_dsm
/benchmarks/datasets/bsa_dsm

.DS_Store

Makefile
DartConfiguration.tcl
CTestTestfile.cmake
CMakeCache.txt
cmake_install.cmake
*.cmake
*.ipynb_checkpoints

*.db

*.lock

/benchmarks/milvus/volumes/
/benchmarks/python_scripts/indexes
/benchmarks/core_indexes
/benchmarks/BenchmarkDSMADSampling
/benchmarks/BenchmarkDSMBSA
/benchmarks/BenchmarkDSMBOND
/benchmarks/BenchmarkDSMLinearScan
/benchmarks/BenchmarkDSMIVFBOND
/benchmarks/BenchmarkBruteForce
/benchmarks/BenchmarkBruteForceIVF
/benchmarks/BenchmarkPdxBond
/benchmarks/BenchmarkPdxBondADSamplingTuning
/benchmarks/BenchmarkPdxBondPdx
/benchmarks/BenchmarkPdxBondTuning
/benchmarks/BenchmarkPdxBSA
/benchmarks/BenchmarkNaryADSampling
/benchmarks/BenchmarkNaryIVFADSampling
/benchmarks/BenchmarkNaryIVFBSASIMD
/benchmarks/BenchmarkNaryIVFBSA
/benchmarks/BenchmarkNaryIVFLinearScan
/benchmarks/BenchmarkNaryLinearScan
/benchmarks/BenchmarkPDXADSampling
/benchmarks/BenchmarkPDXADSamplingTuning
/benchmarks/BenchmarkPDXIVFBOND
/benchmarks/BenchmarkPDXLinearScan
/benchmarks/BenchmarkNaryIVFADSamplingSIMD
/benchmarks/BenchmarkPDXIVFLinearScan
/benchmarks/BenchmarkPDXBSA
/benchmarks/BenchmarkPDXBONDTuning
/benchmarks/BenchmarkPDXBOND
/benchmarks/PureScanPDX
/benchmarks/PureScanSIMD
/benchmarks/PureScanGATHER
/benchmarks/KernelNaryIP
/benchmarks/KernelNaryL1
/benchmarks/KernelNaryL2
/benchmarks/KernelPDXIP
/benchmarks/KernelPDXL1
/benchmarks/KernelPDXL2
/benchmarks/KernelPDXL2_32
/benchmarks/KernelPDXL2_64
/benchmarks/KernelPDXL2_128
/benchmarks/KernelPDXL2_256
/benchmarks/KernelPDXL2_512
/benchmarks/BenchmarkAdaptiveness*
/benchmarks/BenchmarkCorrectness
/benchmarks/BenchmarkPhases*