# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

compiled.cpython*

__pycache__/
/examples/indexes/

venv
.venv
/build/
/cmake-build-debug/
/cmake-build-release/
/cmake-build*/
/.idea/
/dummy/
/Testing/
/bin/
/_deps/
CMakeFiles
pdxearch.egg-info
/dist/

*.dat

/benchmarks/core_indexes/faiss/*
/benchmarks/core_indexes/lorann/*
/benchmarks/core_indexes/faiss_sq8/*
!/benchmarks/core_indexes/faiss/*.json

/benchmarks/core_indexes/faiss_l0/*
!/benchmarks/core_indexes/faiss_l0/*.json

/benchmarks/datasets/adsampling_nary
/benchmarks/datasets/adsampling_pdx
/benchmarks/datasets/downloaded
/benchmarks/datasets/nary
/benchmarks/datasets/pdx
/benchmarks/datasets/purescan
/benchmarks/datasets/queries

.DS_Store

Makefile
DartConfiguration.tcl
CTestTestfile.cmake
CMakeCache.txt
cmake_install.cmake
*.cmake
*.ipynb_checkpoints

*.db

*.lock

/benchmarks/milvus/volumes/
/benchmarks/python_scripts/indexes

/benchmarks/BenchmarkNaryIVFADSampling
/benchmarks/BenchmarkNaryIVFADSamplingSIMD
/benchmarks/BenchmarkPDXADSampling
/benchmarks/BenchmarkIMIADSampling
/benchmarks/BenchmarkASYM_U8PDXADSampling
/benchmarks/BenchmarkU8PDXADSampling
/benchmarks/BenchmarkLEP8PDXADSampling
/benchmarks/BenchmarkPDXIVFBOND
/benchmarks/BenchmarkPDXBOND
/benchmarks/BenchmarkPDXLinearScan
/benchmarks/BenchmarkU*
/benchmarks/G4*
/benchmarks/BenchmarkNaryIVFLinearScan
/benchmarks/KernelPDXL1
/benchmarks/KernelPDXL2
/benchmarks/KernelPDXIP
/benchmarks/KernelNaryL1
/benchmarks/KernelNaryL2
/benchmarks/KernelNaryIP
/benchmarks/BenchmarkU8*